@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
nav
{
    background-color: black;
    color: white;
    height: 70px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: "Sedan SC", serif;
}
nav ul{
    list-style-type: none;
}
.gameContainer
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container
{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.box{
    border: 2px solid black;
    font-size: 10vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:hover
{
    background-color: aquamarine;
}
.gameInfo
{
    padding-left: 20px;
}
.imgbox img{
    display: none;
}